#dov{
    display: flex;
    justify-content: center;
}
#doc{
    display: flex;
    justify-content: center;
}
#tec{
    display: flex;
    justify-content: center;
}
#tod{
    display: flex;
    justify-content: center;
}
#tek{
    display: flex;
    justify-content: center;
}
#mec{
    display: flex;
    justify-content: center;
}